extends ./layout

block content
    .page-header
      h1 Artilharia 2019
    .row
        .col-md-5
            .panel.panel-success
              table.table
                tr.bg-success
                  td.text-center
                    strong Atleta
                  td.text-center 
                    strong Gols
                  td.text-center 
                    strong Time
                tr.bg-warning
                  td Kledson
                  td.text-center 11	
                  td RAPADRUA MECÂNICA
                tr
                  td Alex Virotti
                  td.text-center 7
                  td ARSENOWN FC
                tr
                  td Makson
                  td.text-center 4
                  td ARSENOWN FC
                tr 
                  td Talvanes	
                  td.text-center 3	
                  td GDF
                tr 
                  td Ed Zizu	
                  td.text-center 3	
                  td PEDRAS ROLANDO FA
                tr 
                  td Fábio	
                  td.text-center 3	
                  td PUNK4FUN
                tr 
                  td Di Rodrigues	
                  td.text-center 2	
                  td ARSENOWN FC
                tr 
                  td J. Portugal	
                  td.text-center 2	
                  td PEDRAS ROLANDO FA
                tr 
                  td Maré	
                  td.text-center 2	
                  td ARSENOWN FC
                tr 
                  td Rodrigo	
                  td.text-center 2	
                  td RAPADURA MECÂNICA
                tr 
                  td Pablo	
                  td.text-center 2	
                  td RAPADURA MECÂNICA
                tr 
                  td Alex Britto	
                  td.text-center 2	
                  td ARSENOWN FC
                tr 
                  td Totty	
                  td.text-center 1	
                  td GDF
                tr 
                  td Luciano	
                  td.text-center 1	
                  td GDF
                tr 
                  td Leonarlly	
                  td.text-center 1	
                  td GDF
                tr 
                  td Ivan
                  td.text-center 1	
                  td GDF
                tr 
                  td R. Müller	
                  td.text-center 1	
                  td PEDRAS ROLANDO FA
                tr 
                  td Igor	
                  td.text-center 1	
                  td PUNK4FUN
                tr 
                  td Daniel Dantas	
                  td.text-center 1	
                  td ARSENOWN FC
    .row
      div.col-md-12
        h3 Edições anteriores
        div(class="panel-group" id="accordion")
          div(class="panel panel-default")
            div(class="panel-heading")
              h4(class="panel-title")
                a(data-toggle="collapse" data-parent="#accordion" href="#collapse18") Ano 2018 &nbsp;
                  strong Artilheiro: &nbsp;
                  span Cassius 
                  i(class="fa fa-futbol-o text-gold")
            div(id="collapse18" class="panel-collapse collapse")
              div(class="panel-body")
                table.table
                  tr.bg-success
                    td.text-center
                      strong Atleta
                    td.text-center 
                      strong Gols
                    td.text-center 
                      strong Time
                  tr.bg-warning
                    td Cassius
                    td.text-center 4	
                    td ARSENOWN F.C.
                  tr
                    td Kleber
                    td.text-center 3
                    td RAPADURA MECÂNICA
                  tr
                    td Fernandinho
                    td.text-center 3
                    td PEDRAS ROLANDO FA
                  tr 
                    td Rodrigo	
                    td.text-center 2	
                    td RAPADURA MECÂNICA
                  tr 
                    td Michel	
                    td.text-center 2	
                    td RAPADURA MECÂNICA
                  tr 
                    td Rodolfo	
                    td.text-center 2	
                    td ARSENOWN F.C.
                  tr 
                    td Emerson	
                    td.text-center 2	
                    td RAPADURA MECÂNICA
                  tr 
                    td Talvanes	
                    td.text-center 2	
                    td GDF
                  tr 
                    td Renato	
                    td.text-center 2	
                    td GDF
                  tr 
                    td Josué	
                    td.text-center 2	
                    td GDF
                  tr 
                    td Rafael	
                    td.text-center 2	
                    td GDF
                  tr 
                    td Paffer	
                    td.text-center 1	
                    td RAPADURA MECÂNICA
                  tr 
                    td Pablo	
                    td.text-center 1	
                    td RAPADURA MECÂNICA
                  tr 
                    td Di	
                    td.text-center 1	
                    td ARSENOWN F.C.
                  tr 
                    td Alex	Britto
                    td.text-center 1	
                    td ARSENOWN F.C.
                  tr 
                    td Alex Virotte	
                    td.text-center 1	
                    td ARSENOWN F.C.
                  tr 
                    td Portugal	
                    td.text-center 1	
                    td PEDRAS ROLANDO FA
                  tr 
                    td Santana	
                    td.text-center 1	
                    td PEDRAS ROLANDO FA
                  tr 
                    td Siqueira	
                    td.text-center 1	
                    td PEDRAS ROLANDO FA
                  tr 
                    td Giba	
                    td.text-center 1	
                    td PEDRAS ROLANDO FA
                  tr 
                    td Luciano	
                    td.text-center 1	
                    td GDF
    .row
      div.col-md-12
        div(class="panel-group" id="accordion")
          div(class="panel panel-default")
            div(class="panel-heading")
              h4(class="panel-title")
                a(data-toggle="collapse" data-parent="#accordion" href="#collapse17") Ano 2017 &nbsp;
                  strong Artilheiro: &nbsp;
                  span Kledson 
                  i(class="fa fa-futbol-o text-gold")
            div(id="collapse17" class="panel-collapse collapse")
              div(class="panel-body")
                table.table
                  tr.bg-success
                    td.text-center
                      strong Atleta
                    td.text-center 
                      strong Gols
                    td.text-center 
                      strong Time
                  tr.bg-warning
                    td Kledson
                    td.text-center 6	
                    td RAPADURA MECÂNICA
                  tr
                    td Alex Virotte
                    td.text-center 4
                    td ARSENOWN F.C.
                  tr
                    td Talvanes
                    td.text-center 3
                    td GDF
                  tr 
                    td Fernando	
                    td.text-center 3	
                    td PEDRAS ROLANDO FA
                  tr 
                    td Pablo	
                    td.text-center 3	
                    td RAPADURA MECÂNICA
                  tr 
                    td Rodrigo	
                    td.text-center 3	
                    td RAPADURA MECÂNICA
                  tr 
                    td Di	
                    td.text-center 2	
                    td ARSENOWN F.C.
                  tr 
                    td Maré	
                    td.text-center 2	
                    td ARSENOWN F.C.
                  tr 
                    td Makson	
                    td.text-center 2	
                    td ARSENOWN F.C.
                  tr 
                    td Edgar	
                    td.text-center 2	
                    td PEDRAS ROLANDO FA
                  tr 
                    td Luciano	
                    td.text-center 2	
                    td GDF
                  tr 
                    td Allan	
                    td.text-center 2	
                    td GDF
                  tr 
                    td Pedro André	
                    td.text-center 2	
                    td GDF
                  tr 
                    td Kleber	
                    td.text-center 2	
                    td RAPADURA MECÂNICA
                  tr 
                    td Cacau	
                    td.text-center 1	
                    td ARSENOWN F.C.
                  tr 
                    td J. Portugal	
                    td.text-center 1	
                    td PEDRAS ROLANDO FA
                  tr 
                    td Rafael	
                    td.text-center 1	
                    td PEDRAS ROLANDO FA
                  tr 
                    td Josué	
                    td.text-center 1	
                    td GDF
                  tr 
                    td Rafael	
                    td.text-center 1	
                    td GDF
                  tr 
                    td Braga	
                    td.text-center 1	
                    td RAPADURA MECÂNICA
                  tr 
                    td Thiago	
                    td.text-center 1	
                    td RAPADURA MECÂNICA