extends ./layout

block content
    .page-header
      h1 Melhor Goleiro 2019
    .row
        .col-md-5
            .panel.panel-success
              table.table
                tr.bg-success
                  td.text-center
                    strong Atleta
                  td.text-center 
                    strong Gols Sofrifos
                  td.text-center 
                    strong Time
                tr.bg-warning
                  td Artur
                  td.text-center 6	
                  td ARSENOWN F.C.
                tr
                  td Zetti
                  td.text-center 8
                  td PUNK 4 FUN
                tr
                  td Marco Túlio
                  td.text-center 9
                  td GDF