extends ./layout

block content
    h1 Bem vindos a Liga Calango de Futebol - 2019!
    p(class="lead") E o campeão do ano de 2018 foi o esquadrão do Rapadura Mecânica, que no ano anterior tombou frente ao GDF! 
    p(class="lead") Em 2019 a Liga chega ao quarto campeonato, este ano o Punk For Fun volta a disputa. Com poucos desfalques e muito do futebol mais feio do mundo a LCF é o torneio que ser campeão vale muito mais do que os prêmios.
    p(class="lead") É prestígio, é tiração de onda e um reencontro de amigos. A disputa será no dia 14 de dezembro, com início às 15h, na Arena Carajás, em Maceió, Alagoas. 
    p(class="lead") Convidamos todos para confraternizar conosco.
    hr
    p(class="lead")
        em Após as pelejas disputadas o campeão 2019 foi:
    span
        center 
            p.bg-warning.h1 ARSENOWN FC