doctype html
html(lang="pt-BR")
  head
    link(rel="icon" type="image/png" href="../img/favicon.ico")
    link(rel="stylesheet" type="text/css" href="css/site.css")
    script(src="https://code.jquery.com/jquery-1.12.4.min.js"  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="  crossorigin="anonymous" async)
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    script
      | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      | ga('create', 'UA-41461911-3', 'auto');
      | ga('send', 'pageview');
    meta(charset="utf-8")
    meta(name="Description" CONTENT="Titulo: Liga Calango de Futebol 2022, Patronicio:BioMax Reagentes e Equipamentos, Papelaria Fênix")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title LCF 2017 - Liga Calango de Futebol 2017
    meta(name="robot" content="index, follow")

  body.internas
    .container-fluid
        .row(style="background-color: black")
            .navbar-header
                div(class="collapse navbar-collapse")
                    div(class="logo" style="margin-left: -32px")
                    ul.menuInterna
                        li(class="itemMenuInterno"): a(href="index" style="color:white;text-decoration: none") Início
                        li(class="itemMenuInterno"): a(href="regulamento" style="color:white;text-decoration: none") Regulamento
                        li(class="itemMenuInterno"): a(href="tabela" style="color:white;text-decoration: none") Tabela
                        li(class="itemMenuInterno"): a(href="premiacao" style="color:white;text-decoration: none") Premiação
                        li(class="itemMenuInterno"): a(href="local" style="color:white;text-decoration: none") Local
                        li(class="itemMenuInterno"): a(href="fotos" style="color:white;text-decoration: none") Fotos
        .row
            .conteudo
                block content
        .navbar-fixed-bottom.footerInterna
          div(style="margin: 10px;font-weight: bold;")
            footer: p(style="color:#000;") Patrocínio
            div(class="itemPatrocinio")
              a(href="https://biomaxlab.com.br/" target="_blank"): img(src="../img/biomax-medium.png" alt="BioMax Reagentes e Equipamentos")
            div(class="itemPatrocinio")
              img(src="../img/fenix-medium.png")
