extends ./layout

block content
    .page-header
      h1 Local
    h2 Arena Caraj치s - Macei칩
    img(src="../img/arena-carajas_min.jpg")
    br
    br
    a(href="https://instagram.com/arenacarajas" target="blank")
      i(class="fa fa-instagram" aria-hidden="true" style="font-size:36px") &nbsp;instagram.com/arenacarajas
    br
    br
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3933.964983416105!2d-35.72714848541739!3d-9.598283590948707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xca158839be42afe9!2sTCFUT%20AVALIA%C3%87%C3%95ES%20(Academia%20de%20futebol%20e%20revela%C3%A7%C3%A3o%20de%20atletas)!5e0!3m2!1spt-BR!2sbr!4v1576112535977!5m2!1spt-BR!2sbr" width="550" height="250" frameborder="0" style="border:0" allowfullscreen)
    br
    p Rua Presidente Roosevelt, Conj. Caraj치s II - Rua C - Serraria, Macei칩 - AL, 57046-000
    p 
        strong Telefone:
        |  82 9 9934-5292


        