extends ./layout

block content
    .page-header
      h1 Premiação
    p(class="lead") Como em um torneio de AMIGOS, não poderia faltar a CERVEJA. Ela será o grande prêmio ao final do torneio. 
    p(class="lead") E a escolhida para premiar o primeiro lugar foi a cerveja Heineken, isso mesmo! O vencedor vai comemorar com uma grade de Heineken de 600 ml.
    br
    img(src="../img/heineken-20-09.jpg" alt="Premiação - Heineken")